name: ISO 3D Contribution Graph

on:
  schedule:
    # Runs every 24 hours
    - cron: "0 0 * * *" 
  workflow_dispatch:
  push:
    branches:
    - master
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: 
      contents: write
    name: Generate ISO 3D Graph
    steps:
      - uses: actions/checkout@v3
      
      - name: Generate 3D Contribution Graph
        uses: yoshi3891/github-profile-3d-contrib@0.7.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: ${{ github.repository_owner }}
          
      - name: Commit & Push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add -A .
          git commit -m "generated"
          git push